@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=VT323');

.App {
  /*text-align: center;*/
}
.home {
  font-family: 'VT323', monospace;
  text-align: center;
  color:black;
  background: fixed url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/strange_bullseyes.png');
}
a {
  text-decoration: none !important;
}

.linkNew{
  min-height: 5px;

}
.links{
  padding:30px 0;
  display: relative;
  margin-left: 40%;
}
/* header social links */
 .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

/*profile pic css*/

.img-circle{
  border-radius: 50%;
}
.shadow{
  box-shadow: 7px 7px 7px #666;
  position : relative;
  transition : all 0.2s;
  top : 0;
}
.up-hover:hover {
  top :-5px;
  box-shadow: 15px 15px 15px #777;
}
.avatar{
  display: block;
  position:relative;
  height: 230px;
	width : 220px;
	margin:auto;
}

/*text middle*/
.border_new{
  border-bottom: 1px solid #E6E6E6;
  color: white;
  font-family: 'VT323', monospace;
}


#portfolio img {
  height: 200px;
  display: block;
  margin: auto;
}


#portfolio .portfolio-piece {
  border: 1px solid white;
  display: block;
  width: 250px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: auto ;
  margin-right: auto ;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 90%;
}

.nav-head:before {
  content: "< ";
  font-size: 95%;
  color: #007BFF;
}
.nav-head:after {
  content: " / >";
  font-size: 95%;
  color: #007BFF;
}

.my-containers {
  padding: 1.75em 2em;  
} 

#footer {
  font-family: 'VT323', monospace;
  text-align: center;
  background-color: #343A40; 
  color: white;
  font-weight: 40;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body {
  padding: 1em 2em;
  background: #131418;
  color: #F0F0F0;
}

#cursor {
  animation: blink .7s steps(1) infinite;
}
.dataText {
  font-size: 17px;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*experince*/

#portfolio h4 {
   border-bottom: 3px black dashed;
}

.social img {
  position: relative;
  height: 33px;
   width: 34px;
   top: -3px;
}